@import '../utilities/Utilities';

.contact{
    color: white;
    height: auto;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    // background-color: #221e3f;
    background-color: none;
    overflow-x: hidden;
    .form{
        width: 70%;
        margin: 0 auto;
        font-weight: bold;
        label{
            font-size: 1.5rem;
        }
        @media screen and (max-width:768px){
            width: 100%;
        }
    }
    input,
    select,
    textarea{
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: none;
        outline-color: #fb57bf;
        border-radius: 8px;
    }
    select{
        height: 2.8rem;
    }
    input[type="submit"]{
        width: initial;
        background-color: #fd57bf;
        color: #eee;
        padding: 1rem 2rem;
        border-radius: .8rem;
        cursor: pointer;
        transition: background-color 650ms;
        &hover{
            color: #221e3f;
            background-color: #ffe838;
        }
    }
    .copyright{
        width: 100%;
        text-align: center;
        // background-color: #16162d;
        background-color:none;
        padding: 2rem 0;
        position: relative;
        p{
            font-size: 1rem;
        }
    }
    .up{
        position: absolute;
        width: 5rem;
        height: 5rem;
        background-color: #eee;
        top: -2.5rem;
        right: 5rem;
        border-radius: 100%;
        display: flex;
        cursor: pointer;
        animation: pulse 2s infinite;
        i{
            color: #16162d;
            font-size: 2rem;
            margin: auto;
        }
        @media screen and (max-width: 768px){
            right: 2rem;
        }
    }
}

