@import '../utilities/Utilities';

.portfolio{
    height: 100%;
    width: 100%;
    padding-top: 10%;
    overflow-x: hidden;
    .portfolioItem{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: 0 10rem 5rem 10rem;
        margin-bottom: 5rem;
        .portfolioImg{
            width: 50rem;
            flex: 1;
            img{
                @media screen and (max-width: 660px){
                        width: 500px;
                }
                @media screen and (max-width: 500px){
                        width: 400px;
                }
                @media screen and (max-width: 400px){
                        width: 350px;
                }
                @media screen and (max-width: 350px){
                        width: 300px;
                }
            }
        }
        .portfolioDescription{
            flex: 1;
            h1{
                font-size: 3rem;
                font-weight: 300;
                margin: 1rem 0;
            }
            h6{
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 300;
                opacity: 0.3;
            }
            .cta{
                display: inline-block;
                margin-top: 2.5rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: #3883ff;
                color: 650ms;
            }
            .cta:hover{
                color: #2f67cd;
            }
        }
    }
    .portfolioItem:last-child{
        margin-bottom: 0;
    }
    @media screen and (max-width: 768px){
        .portfolioItem {
            flex-direction: column;
        }
        .portfolioImg{
            margin: 0 0 2rem 0;
            order: 1;
            img{
                width: 40rem;
            }
        }
        .portfolioDescription{
            margin: 0;
            order: 2;
        }
    }
}